header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo img {
  max-width: 200px;
  max-height: 70px;
  margin: 30px
}

nav ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 30px;
  width: 680px;
  justify-content: space-between;
}

nav li {
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>img {
  max-width: 960px;
  height: 450px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid #808080;
  padding: 10px;
}

main>div>p {
  width: 300px;
  height: 375px;
  border: 2px solid #808080;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container div {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-banner-container {
  width: 960px;
  display: flex;
  flex-direction: row;
}

.left-half {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  margin-top: 5px;
  width: 50%;
}

.right-half > div {
  width: 15vw;
  height: 150px;
  overflow: scroll;
  padding: 20px;
}

.right-half > h2 {
  font-size: 25px;
  margin-top: 15px;
}

#LoremIpsum {
  margin: 10px 0;
  height: 325px;
  overflow: auto;
}

.right-half > div button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

footer > div {
  width: 960px;
  height: 150px;
  background-color: #DDD;
  margin: 30px auto;
}
